<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.example.shopmap">
    <application android:label="Shop Map App" android:theme="@style/Theme.Material3.DayNight.NoActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>